Question 1

2+5: Mathematical expression that adds 2 and 5, produces the integer, "7". 

2 + 5: Mathematical expression that adds 2 and 5, and produces the integer, "7". 

2*5: Mathematical expression that multiples 2 and 5, and produces the integer, "10". 

2/5: Mathematical expression that divides 2 by 5, and produces the float, "0.4". 

2**5: Mathematical expression that takes 2 to the 5 exponent, and produces the integer, "32"

Question 2

x = 7: Value of x is 7, as the integer 7 is assigned to x

x = x+3: Value of x becomes 10, as x is 7 and now gets added 3, and this sum of 10 becomes assigned the new x

After running these statements in order, x = 10

Question 3

x = 3: x is the integer, "3", since it is assigned to x. y has no value. y is not defined.

y = x: x is still the integer, "3". y is now assigned to the value of x, which is "3."

x = 10: x is now the integer, "10", since the now assignment overwrites the previous assignment.

After running these statements, x = 10, y = 3

Question 4

The code runs without error. The code produces the result: 1.5 abcabc

Question 5

The code has an error in line 4: z = x + y. You cannot concatenate a float with a string.

Question 6

The code runs without error. The code produces the result: 3|24|8.0

Question 7

The code has an error in line 3: z = y/x. You cannot divide a string by a float.

Question 8

The code runs without error. The code has no output, but creates a variable x that stores the string: "I am a #string". The "Whoa, a string!" is a comment and therefore not part of x.

Question 9

The code runs without error. The code produces the result: [1, 2, 3, 42, 43]

Question 10

The code has an error in line 3: z = x + y. You cannot concatenate an integer with a list.

Question 11

x1 = 12: Integer

x2 = 12.0: Float

x3 = '12.0': String

x4: = [12]: List

x5 = [12, 12.0, '12.0']: List

Question 12

type(42): Integer

type(42.0): Float

type('42.0'): String

type("42.0"): String

type("""42.0"""): String

type([1,2]): List

type([1] + [2]): List

type(1+2): Integer

type(print): Built-In Function/Method

Question 13

type(float(str(int('1234')))): Converts the string, "1234" to an integer back to a string and finally to a float. The type function returns the class of the final conversion, which is a float.

Question 14

type(int(float('12.34'))): Converts the string, "12.34", to a float to an integer. The type function returns the class of the final conversion, which is an integer.

Question 15

len([1234]): returns the length of the list, which is 1

len("1234"): returns the length of the string, which is 4

len(1234): returns the length of the integer, but since an integer has no length, there will be an error

Question 16

The type and length of x = [] are list and 0, respectively

Question 17

In [8]:
x = 'abcde'
list(x)

['a', 'b', 'c', 'd', 'e']

Question 18

In [9]:
x = 1234
float(x)

1234.0

In [11]:
x = 1234
str(x)

'1234'

In [13]:
x = 1234
x = str(x) #since an integer is not iterable, I first converted it to a string
list(x)

['1', '2', '3', '4']

Question 19

In [38]:
x = "luke, i am your father"
x = x.split() #creates a list of each word
y = '' #initializes a string
for i in range(len(x)):
    x[i] = x[i].capitalize() #capitalizes each word in the list
    y = y + x[i] + ' ' #adds each word to the new string with a space
print(y.rstrip())  #prints the final string and removes the trailing space

Luke, I Am Your Father

Question 20

In [42]:
x = "How many characters and words are in this string?"
print("There are " + str(len(x)) + " characters in this string including spaces.")
x = x.replace(" ","") #removes spaces in the string
len(x) #returns how many characters are in this string 
print("There are " + str(len(x)) + " characters in this string not including spaces.")

There are 49 characters in this string including spaces
There are 41 characters in this string not including spaces

In [45]:
x = "How many characters and words are in this string?"
x = x.replace(" ","")
x = list(x)

['H',
 'o',
 'w',
 'm',
 'a',
 'n',
 'y',
 'c',
 'h',
 'a',
 'r',
 'a',
 'c',
 't',
 'e',
 'r',
 's',
 'a',
 'n',
 'd',
 'w',
 'o',
 'r',
 'd',
 's',
 'a',
 'r',
 'e',
 'i',
 'n',
 't',
 'h',
 'i',
 's',
 's',
 't',
 'r',
 'i',
 'n',
 'g',
 '?']

In [31]:
x = "How many characters and words are in this string?"
x.split()

['How', 'many', 'characters', 'and', 'words', 'are', 'in', 'this', 'string?']

In [46]:
x = "How many characters and words are in this string?"
x = x.split()
"There are " + str(len(x)) + " words in x."

'There are 9 words in x.'

Question 21

This assignment took me approximately 90 minutes.